<h2 class="page-header">
  <b>OCCUPATION</b> DETAILS
</h2>
<div class="container">
 <div class="row">
   <div class="col-lg-4">

   </div>
   <div class="col-lg-1 top-pad"></div>
   <div class="col-lg-4">
     <i class="fa fa-industry fa-5x"></i>
   </div>
   <br>
 </div>
 <br>
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-5">
      <div class="wrapper">
        <div id="search-component">
          <h4>WHAT IS YOUR COMPANY'S NAME?</h4>
          <input #occupationDetails class="user-input" [(ngModel)]="userModel.occupation" id="search-box" (keyup)="getSuggestion(occupationDetails.value); showSuggestion=true"/>
          <div class="autoSuggest" *ngIf="addressData?.length>0 && occupationDetails.value && showSuggestion">
            <ul class="search-result">
              <li *ngFor="let data of addressData" (click)="userModel.occupation = data?.address; showSuggestion= false">
                <a>
                  {{data?.address}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <i class="fa fa-angle-left fa-5x align-middle" (click)="navigate('backward', 'user/personal')"></i>
    </div>

    <div class="col-md-10">
    </div>

    <div *ngIf="occupationDetails.value" class="col-md-1">
      <i class="fa fa-angle-right fa-5x align-middle" (click)="navigate('forward', 'user/loan')"></i>
    </div>
  </div>
</div>